# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# Android
android/.gradle/
android/app/release/
android/.idea/
*.jks
key.properties

# Misc
.DS_Store
apk_release/
